
# Arquivos Python
__pycache__/
*.pyc
*.pyo

# Arquivos de ambiente virtual
venv/
.env/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de malha
XY.msh
Y.msh

# Ignorar todas as imagens PNG geradas
*.png

# Ignorar todos os arquivos corrigidos
*_corrigido.msh

# Ignorar o arquivo específico tentTH.m
tentTH.m
tempCodeRunnerFile.py
